.getStart{
    width: 350px;
    position: absolute;
    background-color: #fff;
    height: 380px;
    margin: 10px;
    right: 0;
    border-radius: 20px;
}
input{
    width: 250px;
    height: 40px;
    border-radius: 20px;
}

.btn{
    background-color: #fff !important;
    border: 1px solid;
}
.bt{
    width: 250px;
}