.navitem{
    cursor: pointer;
}
.arrow{
    font-size: 15px;
    margin: 0;
    padding: 0;
    margin-left: 3px;
    position: relative;
    top: 7px;
}
.header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}